@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "normalize.css";
@font-face {
  font-family: myFont; 
  src: url(..//foremost/Foremost\ Regular.ttf);

}
@font-face {
  font-family: mySecFont; 
  src: url(..//dungeon_sn/DUNGRG__.TTF); 

}


 

:root {
    --color-primary: white;
    --color-light: lightblue;
    --color-secondary: black;

}

.par1 {
    color:white
}

html {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    background-color: tan;

}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-primary);

}

.container {
    width: 1200px;
    margin: 0 auto;

}

.containerr{
        display: flex;

}

.btn {
    display: inline-block;
    padding: 0.5rem;
    border-radius: 8px;
    border: solid black 1px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s;
}

.btn.btn-primary {
    background-color: var(--color-primary);
    color: black;
}

.btn.btn-primary:hover {
    background-color: black;
    color: var(--color-primary);
}

.btn.btn-outline-primary {
    background-color: white;
    color: var(--color-secondary);
}

.btn.btn-outline-primary:hover {
    background-color: var(--color-secondary);
    color: white;
}

.btn-light {
    background-color: var(--color-light);
    color: black;
}

.btn-light:hover {
    background-color: black;
    color: var(--color-light);
}form div:has(*[required]) label::after {
    content: "*";
    color: red;

}

.bg-light {
    background-color: var(--color-light);
}

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-image: url('/pics/Screenshot\ 2025-09-06\ 175210.png');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;

}


.main-header .logo {
    font-size: 2rem; 
    font-family: myFont; 
    
}

.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
    background-color: tan;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}


.main-header .container {
    display: flex;
    justify-content: space-between;

}

.main-header nav > ul {
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 2rem;
    font-family: MySecFont;
    color:darkgoldenrod;

}

.main-header nav > ul a {
    color: black;
    text-decoration: none;

}

.social-networks {
    display: flex;
    gap :5px;
    margin: 0;
    padding: 0;
    list-style-type: none;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        color: white;

        svg {
            height: 200px;
        }
    }
}

.image {
    display: flex;
    align-items: left;
    justify-content: left;
    float:left;
;
    
    
}

.span95::after {
    width: 95%;
    margin-bottom: 30px;
    box-sizing: border-box;
    color: black;
}

.span80::after {
    width: 80%;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.span90::after {
    width: 90%;
    margin-bottom: 30px;
    box-sizing: border-box;

}

.skills{
    color: white;
    background-color: black;    
    display: flex;
    align-content: center;
    padding: 0px 10px 0px 20px;
}

.skillsh{
    color: black;
    background-color: black;    
    display: flex;
    align-content: center;
    padding: 0px 10px 0px 20px;
}


.item{
        padding: 2px 2px;
        
}
.skills-progress{
    width: 100%;
    border-radius: 5px;
    height:30px;
    background: #f7f7f7;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    ;
}
.skills-progress span {
    display: flex;
    align-items: center;
}

.contain {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}



#grid div {
    align-items: center;
}


#languages {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap:20px
}
.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px 10px 10px;
    border: #f7f7f7;
    border-width: 40px;

}

.card div {
    align-items: center;
    text-align: center;
}
.card img {
    width: 40px;
    height: 40px;
}


/* Format tablettes */
@media screen and (max-width: 800px) {
    .container {
        width: 600px;
    }

    .languages {
        grid-template-columns: repeat(2, 1fr);
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Format smartphones */
@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    .languages {
        grid-template-columns: 1fr;
    }
}


    
.projects {
        grid-template-columns: 1fr;
    }

.filters ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    .project {
        position: relative;

    &:hover {
        .overlay {
            opacity:1
        };
    }
        img {
            height: 100%;
            width:100%
        }

        .overlay {
            position: absolute;
            top: 5px;
            bottom: 5px;
            left: 5px;
            right: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            opacity: 0;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.9);
            transition: 1s;
        }
    }
    h3 {
        color: black;
    }
}
.languages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    .language {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        transition: transform 0.5s;

        &:hover {
            transform: translateY(-10px);

            img {
                filter: grayscale(0%);
                transform: scale(1.2);
            }
        }

        img {
            width: 100px;
            filter: grayscale(100%);
            transform: scale(1);
            transition: filter 0.5s, transform 0.5s;
        }

        p {
            margin: 0;
        }
    }
}

.svg {
    display: flex;
    justify-content: center;
}